/* Color de fondo  */
body {
    background-color: #f8f9fa;
}

/* Título */
h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* Tabla de Nóminas */
.table {
    background: white;
    border-radius: 8px;
    overflow: hidden;
}

/* Boton */
.btn {
    margin-right: 5px;
}

/* Estados de las nóminas */
.badge-pendiente {
    background-color: #ffc107 !important;
    color: #000 !important;
}

.badge-pagada {
    background-color: #28a745 !important;
}