<?xml version="1.0" encoding="UTF-8"?>
<!-- /WEB-INF/web.xml -->
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <!--Enable JSF verbose error messages-->
        <param-value>Development</param-value>
        <!-- Other values: Production, SystemTest, UnitTest -->
    </context-param>

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>


    <!-- Session configuration -->
    <session-config>
        <session-timeout>
            30 <!-- Time in minutes to expire after the last request -->
        </session-timeout>
        <cookie-config>
            <http-only>true</http-only> <!-- Prevent client side scripting from accessing/manipulating session cookie. -->
            <secure>true</secure> <!-- true to force send over TLS connection -->
        </cookie-config>
        <tracking-mode>COOKIE</tracking-mode> <!-- This disables URL rewriting. -->
    </session-config>

    <!-- Default file in public folders -->
    <welcome-file-list>
        <welcome-file>index.xhtml</welcome-file>
    </welcome-file-list>

    <data-source>
        <name>java:global/jdbc/crm2DB</name>
        <class-name>org.h2.jdbcx.JdbcDataSource</class-name>
        <url>jdbc:h2:~/h2db/crm2;MODE=LEGACY;AUTO_SERVER=TRUE</url>
        <user>admin</user>
        <password>admin</password>
        <initial-pool-size>2</initial-pool-size>
        <max-pool-size>10</max-pool-size>
        <min-pool-size>5</min-pool-size>
    </data-source>
</web-app>