# Archivos y carpetas de JetBrains (CLion, etc.)
.idea/
*.iml

# Compilación (binarios, objetos, ejecutables)
cmake-build-*/
build/
bin/
obj/
out/
*.exe
*.o
*.a
*.so
*.dll
*.lib

# Archivos temporales del sistema
.DS_Store
Thumbs.db

# CMake y cache
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
install_manifest.txt

# Archivos de configuración de usuario (opcional)
*.user
*.userprefs
*.log
*.swp
*.swo